
@model string
@{
    ViewBag.Title = "Create";
}

<body style="background-image: url('../../Picture/360.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;">
    <h2>Create</h2>
    @Html.ValidationSummary(false)
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label>Название</label>
            <input name="name" value="@Model" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
        @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
    }
</body>